img {
    max-width: 100%;
    height: auto;
    position: relative;
    display: inline-block;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--#{$prefix}light);
        border: 1px dotted var(--#{$prefix}gray-500);
        border-radius: var(--#{$prefix}border-radius);
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" style="fill: rgba(110, 131, 150, 1);transform: ;msFilter:;"><path d="M19 3H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zM5 19V5h14l.002 14H5z"></path><path d="m10 14-1-1-3 4h12l-5-7z"></path></svg>');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &:after {
        content: "Image not found";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        // Calculate the font size based on the image width
        font-size: calc(1rem + 10%);
        color: var(--#{$prefix}gray-400);
        text-align: center;
    }
}