.excerpt {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    font-size: inherit;

    &-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: inherit;
    }

    &-3 {
        @extend .excerpt-2;
        -webkit-line-clamp: 3;
    }
}