.floating {
    position: fixed;
    bottom: $spacer * 3.5;
    right: $spacer * 1;
    z-index: 1040;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

// Back to top button
#back-to-top {
    display: none;
    margin: 0 $spacer * .5;
}