@import "forms/labels";
@import "forms/form-text";
@import "forms/form-control";
@import "forms/form-select";
@import "forms/form-check";
@import "forms/form-check-radio-box"; // Atas Nalar
@import "forms/form-icon"; // Atas Nalar
@import "forms/form-range";
@import "forms/floating-labels";
@import "forms/form-group"; // Atas Nalar
@import "forms/input-group";
@import "forms/validation";

/* === Fix Autofill Background color === */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    // -webkit-text-fill-color: var(--#{$prefix}body-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--#{$prefix}body-bg) inset;
    transition: background-color 5000s ease-in-out 0s;
}