// https://toughengineer.github.io/demo/slider-styler
input[type=range] {
    --#{$prefix}range-color: var(--#{$prefix}primary);
}
input[type=range].an-range-slider {
    height: 1em;
    width: 200px;
    appearance: none;
}

input[type=range].form-range.an-range-slider {
    height: 1em;
    width: 100%;
    appearance: none;
}

/*progress support*/
input[type=range].an-range-slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 1.6em + var(--ratio) * (100% - 1.6em));
}

input[type=range].an-range-slider:focus {
    outline: none;
}

/*webkit*/
input[type=range].an-range-slider::-webkit-slider-thumb {
    appearance: none;
    width: 1.6em;
    height: 1.6em;
    border-radius: 4px;
    background: #5E768E;
    border: 2px solid #E6E6E6;
    box-shadow: 0 0 4px #00000080;
    margin-top: calc(1em * 0.5 - max(1.6em * 0.5,2px));
    cursor: pointer;
}

input[type=range].an-range-slider::-webkit-slider-runnable-track {
    height: 1em;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background: #E6E6E6;
    box-shadow: none;
}

input[type=range].an-range-slider::-webkit-slider-thumb:hover {
    background: #405163;
}

input[type=range].an-range-slider:hover::-webkit-slider-runnable-track {
    background: #e5e5e5;
}

input[type=range].an-range-slider::-webkit-slider-thumb:active {
    background: var(--#{$prefix}range-color);
}

input[type=range].an-range-slider:active::-webkit-slider-runnable-track {
    background: #e5e5e5;
}

input[type=range].an-range-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(#617283,#617283) 0/var(--sx) 100% no-repeat, #E6E6E6;
}

input[type=range].an-range-slider.slider-progress:hover::-webkit-slider-runnable-track {
    background: linear-gradient(#4E5F6F,#4E5F6F) 0/var(--sx) 100% no-repeat, #e5e5e5;
}

input[type=range].an-range-slider.slider-progress:active::-webkit-slider-runnable-track {
    background: linear-gradient(var(--#{$prefix}range-color),var(--#{$prefix}range-color)) 0/var(--sx) 100% no-repeat, #e5e5e5;
}

/*mozilla*/
input[type=range].an-range-slider::-moz-range-thumb {
    width: max(calc(1.6em - 2px - 2px),0px);
    height: max(calc(1.6em - 2px - 2px),0px);
    border-radius: 4px;
    background: #5E768E;
    border: 2px solid #E6E6E6;
    box-shadow: 0 0 4px #00000080;
    cursor: pointer;
}

input[type=range].an-range-slider::-moz-range-track {
    height: 1em;
    border: 1px solid #d9d9d9;
    background: #E6E6E6;
    box-shadow: none;
    border-radius: 4px;
}

input[type=range].an-range-slider::-moz-range-thumb:hover {
    background: #405163;
}

input[type=range].an-range-slider:hover::-moz-range-track {
    background: #e5e5e5;
}

input[type=range].an-range-slider::-moz-range-thumb:active {
    background: var(--#{$prefix}range-color);
}

input[type=range].an-range-slider:active::-moz-range-track {
    background: #e5e5e5;
}

input[type=range].an-range-slider.slider-progress::-moz-range-track {
    background: linear-gradient(#617283,#617283) 0/var(--sx) 100% no-repeat, #E6E6E6;
}

input[type=range].an-range-slider.slider-progress:hover::-moz-range-track {
    background: linear-gradient(#4E5F6F,#4E5F6F) 0/var(--sx) 100% no-repeat, #e5e5e5;
}

input[type=range].an-range-slider.slider-progress:active::-moz-range-track {
    background: linear-gradient(var(--#{$prefix}range-color),var(--#{$prefix}range-color)) 0/var(--sx) 100% no-repeat, #e5e5e5;
}

/*ms*/
input[type=range].an-range-slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
}

input[type=range].an-range-slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
}

input[type=range].an-range-slider::-ms-thumb {
    width: 1.6em;
    height: 1.6em;
    border-radius: 4px;
    background: #5E768E;
    border: 2px solid #E6E6E6;
    box-shadow: 0 0 4px #00000080;
    margin-top: 0;
    box-sizing: border-box;
    cursor: pointer;
}

input[type=range].an-range-slider::-ms-track {
    height: 1em;
    border-radius: 4px;
    background: #E6E6E6;
    border: 1px solid #d9d9d9;
    box-shadow: none;
    box-sizing: border-box;
}

input[type=range].an-range-slider::-ms-thumb:hover {
    background: #405163;
}

input[type=range].an-range-slider:hover::-ms-track {
    background: #e5e5e5;
}

input[type=range].an-range-slider::-ms-thumb:active {
    background: var(--#{$prefix}range-color);
}

input[type=range].an-range-slider:active::-ms-track {
    background: #e5e5e5;
}

input[type=range].an-range-slider.slider-progress::-ms-fill-lower {
    height: 1em;
    border-radius: 4px 0 0 4px;
    margin: -undefined 0 -undefined -undefined;
    background: #617283;
    border: 1px solid #d9d9d9;
    border-right-width: 0;
}

input[type=range].an-range-slider.slider-progress:hover::-ms-fill-lower {
    background: #4E5F6F;
}

input[type=range].an-range-slider.slider-progress:active::-ms-fill-lower {
    background: var(--#{$prefix}range-color);
}
