.preloader {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $preloader-bg;
    color: $preloader-color;
    z-index: 99999;

    .loader-wrap{
        position: relative;
        display: flex;
        justify-content: center;
        margin: auto;

        img {
            min-width: 80px;
            min-height: 80px;
            max-width: 90px;
            max-height: 90px;
        }

        i {
            font-size: $spacer * 5;
            margin-bottom: $spacer;
            color: $preloader-color;
        }

        &::after {
            position: absolute;
            content: attr(data-label);
            bottom: -$spacer * 1.25;
            text-align: center;
            width: $spacer * 10;
            animation: loader-text 2s ease 0s infinite alternate both;
            -webkit-animation: loader-text 2s ease 0s infinite alternate both;
        }

        // Atas Nalar logo loader
        .an-loader {
            position: absolute;
            top: 20%;
            left: 20%;
            border-radius: $spacer;
            -webkit-border-radius: $spacer;
            -moz-border-radius: $spacer;
            -ms-border-radius: $spacer;
            -o-border-radius: $spacer;
            width:$spacer * .875;
            height:$spacer * .875;


            &:first-child {
                background-color: var(--#{$prefix}primary);
                width: $spacer;
                height: $spacer * 4;
                left: 25%;
                transform: rotate(30deg);
                -webkit-transform: rotate(30deg);
                -moz-transform: rotate(30deg);
                -ms-transform: rotate(30deg);
                -o-transform: rotate(30deg);
                animation: rotate-1 2s ease 0s infinite alternate both;
                -webkit-animation: rotate-1 2s ease 0s infinite alternate both;
            }

            &:nth-child(2) {
                background-color: var(--#{$prefix}secondary);
                height: $spacer * 2.5;
                left: 60%;
                top: 42%;
                transform: rotate(-30deg);
                -webkit-transform: rotate(-30deg);
                -moz-transform: rotate(-30deg);
                -ms-transform: rotate(-30deg);
                -o-transform: rotate(-30deg);
                animation: rotate-2 2s ease 0s infinite alternate both;
                -webkit-animation: rotate-2 2s ease 0s infinite alternate both;
            }

            &:last-child {
                background-color: var(--#{$prefix}secondary);
                left: 80%;
                top: 50%;
                animation: scale 2s ease 0s infinite alternate both;
                -webkit-animation: scale 2s ease 0s infinite alternate both;
            }
        }

        // Custom image loader
        .logo-loader {
            margin-bottom: $spacer;

            &.fade {
                animation: fade 2s infinite linear;
                -webkit-animation: fade 2s infinite linear;
}

            &.flip-x {
                animation: flip-x 2s infinite linear;
                -webkit-animation: flip-x 2s infinite linear;
            }

            &.flip-y {
                animation: flip-y 2s infinite linear;
                -webkit-animation: flip-y 2s infinite linear;
            }

            &.spin {
                animation: spin 2s infinite linear;
                -webkit-animation: spin 2s infinite linear;
            }

            &.spin-reverse {
                animation: spin-reverse 2s infinite linear;
                -webkit-animation: spin-reverse 2s infinite linear;
            }

            &.pulse {
                animation: pulse 2s infinite linear;
                -webkit-animation: pulse 2s infinite linear;
            }
            &.bounce {
                animation: bounce 2s infinite linear;
                -webkit-animation: bounce 2s infinite linear;
            }
        }

        .fade {
            animation: fade 2s infinite linear;
            -webkit-animation: fade 2s infinite linear;
        }
        .flip-x {
            animation: flip-x 2s infinite linear;
            -webkit-animation: flip-x 2s infinite linear;
        }
        .flip-y {
            animation: flip-y 2s infinite linear;
            -webkit-animation: flip-y 2s infinite linear;
        }
        .spin {
            animation: spin 2s infinite linear;
            -webkit-animation: spin 2s infinite linear;
        }
        .spin-reverse {
            animation: spin-reverse 2s infinite linear;
            -webkit-animation: spin-reverse 2s infinite linear;
        }
        .pulse {
            animation: pulse 2s infinite linear;
            -webkit-animation: pulse 2s infinite linear;
        }
        .bounce {
            animation: bounce 2s infinite linear;
            -webkit-animation: bounce 2s infinite linear;
        }
    }
}

// Keyframes Atas Nalar logo
@keyframes rotate-1 {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
    100% {
        transform: rotate(210deg);
        -webkit-transform: rotate(210deg);
        -moz-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
        -o-transform: rotate(210deg);
}
}

@keyframes rotate-2 {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
    100% {
        transform: rotate(-210deg);
        -webkit-transform: rotate(-210deg);
        -moz-transform: rotate(-210deg);
        -ms-transform: rotate(-210deg);
        -o-transform: rotate(-210deg);
}
}

@keyframes scale {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
}
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
}

@keyframes loader-text {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.an-preload-content {
    width: 100%;
    height: 100vh;
    background-color: var(--#{$prefix}body-bg);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    // Type 1
    .type-1-text {
        letter-spacing: 1px;
        white-space: nowrap;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }
    .type-1 {
        height: fit-content;
        width: 140px;
        position: relative;

        p {
            top: 0;
            padding: 0;
            margin: 0;
            color: var(--#{$prefix}light-text);
            animation: text 3.5s ease both infinite;
            font-size: 14px;
            letter-spacing: 1px;
            white-space: nowrap;
            font-weight: 900;

            @keyframes text {
                0% {
                letter-spacing: 1px;
                transform: translateX(0px);
                }

                40% {
                letter-spacing: 2px;
                transform: translateX(26px);
                }

                80% {
                letter-spacing: 1px;
                transform: translateX(32px);
                }

                90% {
                letter-spacing: 2px;
                transform: translateX(0px);
                }

                100% {
                letter-spacing: 1px;
                transform: translateX(0px);
                }
            }
        }
        span {
            background-color: var(--#{$prefix}theme-color-bg-subtle);
            border-radius: 50px;
            display: block;
            height: 16px;
            width: 16px;
            bottom: 0;
            position: absolute;
            transform: translateX(64px);
            animation: loading 3.5s ease both infinite;

            &:before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background-color: var(--#{$prefix}theme-color);
                border-radius: inherit;
                animation: loading2 3.5s ease both infinite;
            }

            @keyframes loading {
                0% {
                width: 16px;
                transform: translateX(0px);
                }

                40% {
                width: 100%;
                transform: translateX(0px);
                }

                80% {
                width: 16px;
                transform: translateX(64px);
                }

                90% {
                width: 100%;
                transform: translateX(0px);
                }

                100% {
                width: 16px;
                transform: translateX(0px);
                }
            }
            @keyframes loading2 {
                0% {
                transform: translateX(0px);
                width: 16px;
                }

                40% {
                transform: translateX(0%);
                width: 80%;
                }

            80% {
                width: 100%;
                transform: translateX(0px);
                }

                90% {
                width: 80%;
                transform: translateX(15px);
                }
                100% {
                transform: translateX(0px);
                width: 16px;
                }
            }
        }
    }

    // Type 2
    .type-2 {
        width: 112px;
        height: 112px;

        .type-2-box-1, .type-2-box-2, .type-2-box-3 {
            border: 16px solid var(--#{$prefix}theme-color);
            box-sizing: border-box;
            position: absolute;
            display: block;
        }
        .type-2-box-1 {
            width: 112px;
            height: 48px;
            margin-top: 64px;
            margin-left: 0px;
            animation: anime1 4s 0s forwards ease-in-out infinite;
        }
        .type-2-box-2 {
            border-color: var(--#{$prefix}accent-color) !important;
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 0px;
            animation: anime2 4s 0s forwards ease-in-out infinite;
        }
        .type-2-box-3   {
            width: 48px;
            height: 48px;
            margin-top: 0px;
            margin-left: 64px;
            animation: anime3 4s 0s forwards ease-in-out infinite;
        }
        ~ .type-2-text {
            font-family: var(--#{$prefix}font-sans-serif);
            text-transform: capitalize;
            font-weight: 700;
            font-size: 1.125rem;
        }

        @keyframes anime1 {
            0% {
                width: 112px;
                height: 48px;
                margin-top: 64px;
                margin-left: 0px;
            }
            12.5% {
                width: 48px;
                height: 48px;
                margin-top: 64px;
                margin-left: 0px;
            }
            25% {
                width: 48px;
                height: 48px;
                margin-top: 64px;
                margin-left: 0px;
            }
            37.5% {
                width: 48px;
                height: 48px;
                margin-top: 64px;
                margin-left: 0px;
            }
            50% {
                width: 48px;
                height: 48px;
                margin-top: 64px;
                margin-left: 0px;
            }
            62.5% {
                width: 48px;
                height: 48px;
                margin-top: 64px;
                margin-left: 0px;
            }
            75% {
                width: 48px;
                height: 112px;
                margin-top: 0px;
                margin-left: 0px;
            }
            87.5% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 0px;
            }
            100% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 0px;
            }
        }
        @keyframes anime2 {
            0% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 0px;
            }
            12.5% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 0px;
            }
            25% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 0px;
            }
            37.5% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 0px;
            }
            50% {
                width: 112px;
                height: 48px;
                margin-top: 0px;
                margin-left: 0px;
            }
            62.5% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 64px;
            }
            75% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 64px;
            }
            87.5% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 64px;
            }
            100% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 64px;
            }
        }
        @keyframes anime3 {
            0% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 64px;
            }
            12.5% {
                width: 48px;
                height: 48px;
                margin-top: 0px;
                margin-left: 64px;
            }
            25% {
                width: 48px;
                height: 112px;
                margin-top: 0px;
                margin-left: 64px;
            }
            37.5% {
                width: 48px;
                height: 48px;
                margin-top: 64px;
                margin-left: 64px;
            }
            50% {
                width: 48px;
                height: 48px;
                margin-top: 64px;
                margin-left: 64px;
            }
            62.5% {
                width: 48px;
                height: 48px;
                margin-top: 64px;
                margin-left: 64px;
            }
            75% {
                width: 48px;
                height: 48px;
                margin-top: 64px;
                margin-left: 64px;
            }
            87.5% {
                width: 48px;
                height: 48px;
                margin-top: 64px;
                margin-left: 64px;
            }
            100% {
                width: 112px;
                height: 48px;
                margin-top: 64px;
                margin-left: 0px;
            }
        }
    }
}