// Placeholder
::placeholder {
    font-style: italic;
}
// Selection
::selection {
    background: var(--#{$prefix}primary-100);
    color: var(--#{$prefix}primary);
}
[data-#{$prefix}theme="dark"] ::selection {
    background: var(--#{$prefix}primary-800);
    color: var(--#{$prefix}primary);
}
// Link with empty content
a[href^="http"]:empty::before {
    content: attr(href);
}