/* Scrollbar - Width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Scrollbar - Track */
::-webkit-scrollbar-track {
    background: var(--#{$prefix}gray-300);
    border-radius: 1rem;
}

/* Scrollbar - Handle */
::-webkit-scrollbar-thumb {
    background: var(--#{$prefix}primary-400);
    border-radius: 1rem;
}

/* Scrollbar - Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--#{$prefix}primary);
}