.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;

    > * {
        position: relative;
        display: inline-block;
        color: var(--#{$prefix}border-color);

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            width: 9999px;
            height: 1px;
            background: var(--#{$prefix}border-color);
        }

        &:before {
            right: 100%;
            margin-right: $spacer;
        }

        &:after {
            left: 100%;
            margin-left: $spacer;
        }
    }
}