.toggle-theme {
  position: relative;
  height: 24px;
  width: 100%;
  border-radius: var(--#{$prefix}border-radius);
  border: 1px solid var(--#{$prefix}border-color);
  background-color: transparent;
  cursor: pointer;

  &.toggle-colored {
    background-color: var(--#{$prefix}light-bg-subtle);
    box-shadow: inset 0px 1px 3px rgb(var(--#{$prefix}dark-rgb), 0.2), inset 0px -1px 3px rgb(var(--#{$prefix}light-rgb), 0.2);
  }

  &.simple-toggle {
    height: auto;
    min-width: 32px;
    max-width: 32px;
    aspect-ratio: 1/1;
  }
}
.toggle-theme::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}
.toggle-theme::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' style='fill: %23a8b4bf;transform: ;msFilter:;'%3E%3Cpath d='M6.995 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007-2.246-5.007-5.007-5.007S6.995 9.239 6.995 12zM11 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2H2zm17 0h3v2h-3zM5.637 19.778l-1.414-1.414 2.121-2.121 1.414 1.414zM16.242 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.344 7.759 4.223 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z'%3E%3C/path%3E%3C/svg%3E");
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translateY(-40%);
  transition: all 0.3s ease-in-out;
}
.toggle-theme.active::before {
  background-color: var(--#{$prefix}dark);
  left: calc(100% - 22px);
  font-family: var(--#{$prefix}body-font-family);
}
.toggle-theme.active::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' style='fill: %23f1f3f5;transform: ;msFilter:;'%3E%3Cpath d='M12 11.807A9.002 9.002 0 0 1 10.049 2a9.942 9.942 0 0 0-5.12 2.735c-3.905 3.905-3.905 10.237 0 14.142 3.906 3.906 10.237 3.905 14.143 0a9.946 9.946 0 0 0 2.735-5.119A9.003 9.003 0 0 1 12 11.807z'%3E%3C/path%3E%3C/svg%3E");
  left: calc(100% - 20px);
}
.toggle-theme.toggle-colored::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  background: var(--#{$prefix}warning);
  border-radius: 50%;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}
.toggle-theme.toggle-colored:active::before {
    width: 24px;
    border-radius: 1rem;
}
.toggle-theme.toggle-colored::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' style='fill: %23f1f3f5;transform: ;msFilter:;'%3E%3Cpath d='M6.995 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007-2.246-5.007-5.007-5.007S6.995 9.239 6.995 12zM11 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2H2zm17 0h3v2h-3zM5.637 19.778l-1.414-1.414 2.121-2.121 1.414 1.414zM16.242 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.344 7.759 4.223 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z'%3E%3C/path%3E%3C/svg%3E");
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-40%);
  transition: all 0.3s ease-in-out;
}
.toggle-theme.toggle-colored.active::before {
  background-color: var(--#{$prefix}dark);
  left: calc(100% - 21px);
  font-family: var(--#{$prefix}body-font-family);
}
.toggle-theme.toggle-colored.active:active::before {
    width: 24px;
    transform: translateY(-50%) translateX(-6px);
}
.toggle-theme.toggle-colored.active::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' style='fill: %23ffbc2d;transform: ;msFilter:;'%3E%3Cpath d='M12 11.807A9.002 9.002 0 0 1 10.049 2a9.942 9.942 0 0 0-5.12 2.735c-3.905 3.905-3.905 10.237 0 14.142 3.906 3.906 10.237 3.905 14.143 0a9.946 9.946 0 0 0 2.735-5.119A9.003 9.003 0 0 1 12 11.807z'%3E%3C/path%3E%3C/svg%3E");
  left: calc(100% - 19px);
}
.toggle-theme.simple-toggle::before, .toggle-theme.simple-toggle::after, .toggle-theme.toggle-colored.simple-toggle::before, .toggle-theme.toggle-colored.simple-toggle::after {
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
}
.toggle-theme.toggle-colored.simple-toggle::before {
  height: 100%;
  width: 100%;
  border-radius: unset;
}