// Base class
.tooltip {
  // scss-docs-start tooltip-css-vars
  --#{$prefix}tooltip-zindex: #{$zindex-tooltip};
  --#{$prefix}tooltip-max-width: #{$tooltip-max-width};
  --#{$prefix}tooltip-padding-x: #{$tooltip-padding-x};
  --#{$prefix}tooltip-padding-y: #{$tooltip-padding-y};
  --#{$prefix}tooltip-margin: #{$tooltip-margin};
  @include rfs($tooltip-font-size, --#{$prefix}tooltip-font-size);
  --#{$prefix}tooltip-color: #{$tooltip-color};
  --#{$prefix}tooltip-bg: #{$tooltip-bg};
  --#{$prefix}tooltip-border-radius: #{$tooltip-border-radius};
  --#{$prefix}tooltip-opacity: #{$tooltip-opacity};
  --#{$prefix}tooltip-arrow-width: #{$tooltip-arrow-width};
  --#{$prefix}tooltip-arrow-height: #{$tooltip-arrow-height};
  // scss-docs-end tooltip-css-vars

  z-index: var(--#{$prefix}tooltip-zindex);
  display: block;
  padding: var(--#{$prefix}tooltip-arrow-height);
  margin: var(--#{$prefix}tooltip-margin);
  @include deprecate("`$tooltip-margin`", "v5", "v5.x", true);
  // Our parent element can be arbitrary since tooltips are by default inserted as a sibling of their target element.
  // So reset our font and text properties to avoid inheriting weird values.
  @include reset-text();
  @include font-size(var(--#{$prefix}tooltip-font-size));
  // Allow breaking very long words so they don't overflow the tooltip's bounds
  word-wrap: break-word;
  opacity: 0;

  &.show { opacity: var(--#{$prefix}tooltip-opacity); }

  .tooltip-arrow {
    display: block;
    width: var(--#{$prefix}tooltip-arrow-width);
    height: var(--#{$prefix}tooltip-arrow-height);

    &::before {
      position: absolute;
      content: "";
      border-color: transparent;
      border-style: solid;
    }
  }
}

.tooltip-top .tooltip-arrow {
  bottom: 0;

  &::before {
    top: -1px;
    border-width: var(--#{$prefix}tooltip-arrow-height) calc(var(--#{$prefix}tooltip-arrow-width) * .5) 0; // stylelint-disable-line function-disallowed-list
    border-top-color: var(--#{$prefix}tooltip-bg);
  }
}

/* rtl:begin:ignore */
.tooltip-end .tooltip-arrow {
  left: 0;
  width: var(--#{$prefix}tooltip-arrow-height);
  height: var(--#{$prefix}tooltip-arrow-width);

  &::before {
    right: -1px;
    border-width: calc(var(--#{$prefix}tooltip-arrow-width) * .5) var(--#{$prefix}tooltip-arrow-height) calc(var(--#{$prefix}tooltip-arrow-width) * .5) 0; // stylelint-disable-line function-disallowed-list
    border-right-color: var(--#{$prefix}tooltip-bg);
  }
}

/* rtl:end:ignore */

.tooltip-bottom .tooltip-arrow {
  top: 0;

  &::before {
    bottom: -1px;
    border-width: 0 calc(var(--#{$prefix}tooltip-arrow-width) * .5) var(--#{$prefix}tooltip-arrow-height); // stylelint-disable-line function-disallowed-list
    border-bottom-color: var(--#{$prefix}tooltip-bg);
  }
}

/* rtl:begin:ignore */
.tooltip-start .tooltip-arrow {
  right: 0;
  width: var(--#{$prefix}tooltip-arrow-height);
  height: var(--#{$prefix}tooltip-arrow-width);

  &::before {
    left: -1px;
    border-width: calc(var(--#{$prefix}tooltip-arrow-width) * .5) 0 calc(var(--#{$prefix}tooltip-arrow-width) * .5) var(--#{$prefix}tooltip-arrow-height); // stylelint-disable-line function-disallowed-list
    border-left-color: var(--#{$prefix}tooltip-bg);
  }
}

/* rtl:end:ignore */

.tooltip-auto {
  &[data-popper-placement^="top"] {
    @extend .tooltip-top;
  }
  &[data-popper-placement^="right"] {
    @extend .tooltip-end;
  }
  &[data-popper-placement^="bottom"] {
    @extend .tooltip-bottom;
  }
  &[data-popper-placement^="left"] {
    @extend .tooltip-start;
  }
}

// Wrapper for the tooltip content
.tooltip-inner {
  max-width: var(--#{$prefix}tooltip-max-width);
  padding: var(--#{$prefix}tooltip-padding-y) var(--#{$prefix}tooltip-padding-x);
  color: var(--#{$prefix}tooltip-color);
  text-align: center;
  background-color: var(--#{$prefix}tooltip-bg);
  @include border-radius(var(--#{$prefix}tooltip-border-radius));
}

// Tooltip Colors
.tooltip {
  &.tooltip-primary {
      .tooltip-inner {
          background-color: var(--#{$prefix}primary);
          color: var(--#{$prefix}white);
      }
      &.tooltip-auto[data-popper-placement^=top] .tooltip-arrow:before,&.tooltip-top .tooltip-arrow:before {
          border-top-color: var(--#{$prefix}primary);
      }

      &.tooltip-auto[data-popper-placement^=right] .tooltip-arrow:before,&.tooltip-end .tooltip-arrow:before {
          border-right-color: var(--#{$prefix}primary);
      }

      &.tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow:before,&.tooltip-bottom .tooltip-arrow:before {
          border-bottom-color: var(--#{$prefix}primary);
      }

      &.tooltip-auto[data-popper-placement^=left] .tooltip-arrow:before,&.tooltip-start .tooltip-arrow:before {
          border-left-color: var(--#{$prefix}primary);
      }
  }
  &.tooltip-secondary {
      .tooltip-inner {
          background-color: var(--#{$prefix}secondary);
          color: var(--#{$prefix}white);
      }
      &.tooltip-auto[data-popper-placement^=top] .tooltip-arrow:before,&.tooltip-top .tooltip-arrow:before {
          border-top-color: var(--#{$prefix}secondary);
      }

      &.tooltip-auto[data-popper-placement^=right] .tooltip-arrow:before,&.tooltip-end .tooltip-arrow:before {
          border-right-color: var(--#{$prefix}secondary);
      }

      &.tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow:before,&.tooltip-bottom .tooltip-arrow:before {
          border-bottom-color: var(--#{$prefix}secondary);
      }

      &.tooltip-auto[data-popper-placement^=left] .tooltip-arrow:before,&.tooltip-start .tooltip-arrow:before {
          border-left-color: var(--#{$prefix}secondary);
      }
  }
  &.tooltip-tertiary {
      .tooltip-inner {
          background-color: var(--#{$prefix}tertiary);
          color: var(--#{$prefix}white);
      }
      &.tooltip-auto[data-popper-placement^=top] .tooltip-arrow:before,&.tooltip-top .tooltip-arrow:before {
          border-top-color: var(--#{$prefix}tertiary);
      }

      &.tooltip-auto[data-popper-placement^=right] .tooltip-arrow:before,&.tooltip-end .tooltip-arrow:before {
          border-right-color: var(--#{$prefix}tertiary);
      }

      &.tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow:before,&.tooltip-bottom .tooltip-arrow:before {
          border-bottom-color: var(--#{$prefix}tertiary);
      }

      &.tooltip-auto[data-popper-placement^=left] .tooltip-arrow:before,&.tooltip-start .tooltip-arrow:before {
          border-left-color: var(--#{$prefix}tertiary);
      }
  }
  &.tooltip-warning {
      .tooltip-inner {
          background-color: var(--#{$prefix}warning);
          color: var(--#{$prefix}white);
      }
      &.tooltip-auto[data-popper-placement^=top] .tooltip-arrow:before,&.tooltip-top .tooltip-arrow:before {
          border-top-color: var(--#{$prefix}warning);
      }

      &.tooltip-auto[data-popper-placement^=right] .tooltip-arrow:before,&.tooltip-end .tooltip-arrow:before {
          border-right-color: var(--#{$prefix}warning);
      }

      &.tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow:before,&.tooltip-bottom .tooltip-arrow:before {
          border-bottom-color: var(--#{$prefix}warning);
      }

      &.tooltip-auto[data-popper-placement^=left] .tooltip-arrow:before,&.tooltip-start .tooltip-arrow:before {
          border-left-color: var(--#{$prefix}warning);
      }
  }
  &.tooltip-success {
      .tooltip-inner {
          background-color: var(--#{$prefix}success);
          color: var(--#{$prefix}white);
      }
      &.tooltip-auto[data-popper-placement^=top] .tooltip-arrow:before,&.tooltip-top .tooltip-arrow:before {
          border-top-color: var(--#{$prefix}success);
      }

      &.tooltip-auto[data-popper-placement^=right] .tooltip-arrow:before,&.tooltip-end .tooltip-arrow:before {
          border-right-color: var(--#{$prefix}success);
      }

      &.tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow:before,&.tooltip-bottom .tooltip-arrow:before {
          border-bottom-color: var(--#{$prefix}success);
      }

      &.tooltip-auto[data-popper-placement^=left] .tooltip-arrow:before,&.tooltip-start .tooltip-arrow:before {
          border-left-color: var(--#{$prefix}success);
      }
  }
  &.tooltip-danger {
      .tooltip-inner {
          background-color: var(--#{$prefix}danger);
          color: var(--#{$prefix}white);
      }
      &.tooltip-auto[data-popper-placement^=top] .tooltip-arrow:before,&.tooltip-top .tooltip-arrow:before {
          border-top-color: var(--#{$prefix}danger);
      }

      &.tooltip-auto[data-popper-placement^=right] .tooltip-arrow:before,&.tooltip-end .tooltip-arrow:before {
          border-right-color: var(--#{$prefix}danger);
      }

      &.tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow:before,&.tooltip-bottom .tooltip-arrow:before {
          border-bottom-color: var(--#{$prefix}danger);
      }

      &.tooltip-auto[data-popper-placement^=left] .tooltip-arrow:before,&.tooltip-start .tooltip-arrow:before {
          border-left-color: var(--#{$prefix}danger);
      }
  }
  &.tooltip-info {
      .tooltip-inner {
          background-color: var(--#{$prefix}info);
          color: var(--#{$prefix}white);
      }
      &.tooltip-auto[data-popper-placement^=top] .tooltip-arrow:before,&.tooltip-top .tooltip-arrow:before {
          border-top-color: var(--#{$prefix}info);
      }

      &.tooltip-auto[data-popper-placement^=right] .tooltip-arrow:before,&.tooltip-end .tooltip-arrow:before {
          border-right-color: var(--#{$prefix}info);
      }

      &.tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow:before,&.tooltip-bottom .tooltip-arrow:before {
          border-bottom-color: var(--#{$prefix}info);
      }

      &.tooltip-auto[data-popper-placement^=left] .tooltip-arrow:before,&.tooltip-start .tooltip-arrow:before {
          border-left-color: var(--#{$prefix}info);
      }
  }
  &.tooltip-blue {
      .tooltip-inner {
          background-color: var(--#{$prefix}blue);
          color: var(--#{$prefix}white);
      }
      &.tooltip-auto[data-popper-placement^=top] .tooltip-arrow:before,&.tooltip-top .tooltip-arrow:before {
          border-top-color: var(--#{$prefix}blue);
      }

      &.tooltip-auto[data-popper-placement^=right] .tooltip-arrow:before,&.tooltip-end .tooltip-arrow:before {
          border-right-color: var(--#{$prefix}blue);
      }

      &.tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow:before,&.tooltip-bottom .tooltip-arrow:before {
          border-bottom-color: var(--#{$prefix}blue);
      }

      &.tooltip-auto[data-popper-placement^=left] .tooltip-arrow:before,&.tooltip-start .tooltip-arrow:before {
          border-left-color: var(--#{$prefix}blue);
      }
  }
  &.tooltip-indigo {
      .tooltip-inner {
          background-color: var(--#{$prefix}indigo);
          color: var(--#{$prefix}white);
      }
      &.tooltip-auto[data-popper-placement^=top] .tooltip-arrow:before,&.tooltip-top .tooltip-arrow:before {
          border-top-color: var(--#{$prefix}indigo);
      }

      &.tooltip-auto[data-popper-placement^=right] .tooltip-arrow:before,&.tooltip-end .tooltip-arrow:before {
          border-right-color: var(--#{$prefix}indigo);
      }

      &.tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow:before,&.tooltip-bottom .tooltip-arrow:before {
          border-bottom-color: var(--#{$prefix}indigo);
      }

      &.tooltip-auto[data-popper-placement^=left] .tooltip-arrow:before,&.tooltip-start .tooltip-arrow:before {
          border-left-color: var(--#{$prefix}indigo);
      }
  }
  &.tooltip-purple {
      .tooltip-inner {
          background-color: var(--#{$prefix}purple);
          color: var(--#{$prefix}white);
      }
      &.tooltip-auto[data-popper-placement^=top] .tooltip-arrow:before,&.tooltip-top .tooltip-arrow:before {
          border-top-color: var(--#{$prefix}purple);
      }

      &.tooltip-auto[data-popper-placement^=right] .tooltip-arrow:before,&.tooltip-end .tooltip-arrow:before {
          border-right-color: var(--#{$prefix}purple);
      }

      &.tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow:before,&.tooltip-bottom .tooltip-arrow:before {
          border-bottom-color: var(--#{$prefix}purple);
      }

      &.tooltip-auto[data-popper-placement^=left] .tooltip-arrow:before,&.tooltip-start .tooltip-arrow:before {
          border-left-color: var(--#{$prefix}purple);
      }
  }
  &.tooltip-pink {
      .tooltip-inner {
          background-color: var(--#{$prefix}pink);
          color: var(--#{$prefix}white);
      }
      &.tooltip-auto[data-popper-placement^=top] .tooltip-arrow:before,&.tooltip-top .tooltip-arrow:before {
          border-top-color: var(--#{$prefix}pink);
      }

      &.tooltip-auto[data-popper-placement^=right] .tooltip-arrow:before,&.tooltip-end .tooltip-arrow:before {
          border-right-color: var(--#{$prefix}pink);
      }

      &.tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow:before,&.tooltip-bottom .tooltip-arrow:before {
          border-bottom-color: var(--#{$prefix}pink);
      }

      &.tooltip-auto[data-popper-placement^=left] .tooltip-arrow:before,&.tooltip-start .tooltip-arrow:before {
          border-left-color: var(--#{$prefix}pink);
      }
  }
  &.tooltip-red {
      .tooltip-inner {
          background-color: var(--#{$prefix}red);
          color: var(--#{$prefix}white);
      }
      &.tooltip-auto[data-popper-placement^=top] .tooltip-arrow:before,&.tooltip-top .tooltip-arrow:before {
          border-top-color: var(--#{$prefix}red);
      }

      &.tooltip-auto[data-popper-placement^=right] .tooltip-arrow:before,&.tooltip-end .tooltip-arrow:before {
          border-right-color: var(--#{$prefix}red);
      }

      &.tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow:before,&.tooltip-bottom .tooltip-arrow:before {
          border-bottom-color: var(--#{$prefix}red);
      }

      &.tooltip-auto[data-popper-placement^=left] .tooltip-arrow:before,&.tooltip-start .tooltip-arrow:before {
          border-left-color: var(--#{$prefix}red);
      }
  }
  &.tooltip-orange {
      .tooltip-inner {
          background-color: var(--#{$prefix}orange);
          color: var(--#{$prefix}white);
      }
      &.tooltip-auto[data-popper-placement^=top] .tooltip-arrow:before,&.tooltip-top .tooltip-arrow:before {
          border-top-color: var(--#{$prefix}orange);
      }

      &.tooltip-auto[data-popper-placement^=right] .tooltip-arrow:before,&.tooltip-end .tooltip-arrow:before {
          border-right-color: var(--#{$prefix}orange);
      }

      &.tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow:before,&.tooltip-bottom .tooltip-arrow:before {
          border-bottom-color: var(--#{$prefix}orange);
      }

      &.tooltip-auto[data-popper-placement^=left] .tooltip-arrow:before,&.tooltip-start .tooltip-arrow:before {
          border-left-color: var(--#{$prefix}orange);
      }
  }
  &.tooltip-yellow {
      .tooltip-inner {
          background-color: var(--#{$prefix}yellow);
          color: var(--#{$prefix}white);
      }
      &.tooltip-auto[data-popper-placement^=top] .tooltip-arrow:before,&.tooltip-top .tooltip-arrow:before {
          border-top-color: var(--#{$prefix}yellow);
      }

      &.tooltip-auto[data-popper-placement^=right] .tooltip-arrow:before,&.tooltip-end .tooltip-arrow:before {
          border-right-color: var(--#{$prefix}yellow);
      }

      &.tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow:before,&.tooltip-bottom .tooltip-arrow:before {
          border-bottom-color: var(--#{$prefix}yellow);
      }

      &.tooltip-auto[data-popper-placement^=left] .tooltip-arrow:before,&.tooltip-start .tooltip-arrow:before {
          border-left-color: var(--#{$prefix}yellow);
      }
  }
  &.tooltip-green {
      .tooltip-inner {
          background-color: var(--#{$prefix}green);
          color: var(--#{$prefix}white);
      }
      &.tooltip-auto[data-popper-placement^=top] .tooltip-arrow:before,&.tooltip-top .tooltip-arrow:before {
          border-top-color: var(--#{$prefix}green);
      }

      &.tooltip-auto[data-popper-placement^=right] .tooltip-arrow:before,&.tooltip-end .tooltip-arrow:before {
          border-right-color: var(--#{$prefix}green);
      }

      &.tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow:before,&.tooltip-bottom .tooltip-arrow:before {
          border-bottom-color: var(--#{$prefix}green);
      }

      &.tooltip-auto[data-popper-placement^=left] .tooltip-arrow:before,&.tooltip-start .tooltip-arrow:before {
          border-left-color: var(--#{$prefix}green);
      }
  }
  &.tooltip-teal {
      .tooltip-inner {
          background-color: var(--#{$prefix}teal);
          color: var(--#{$prefix}white);
      }
      &.tooltip-auto[data-popper-placement^=top] .tooltip-arrow:before,&.tooltip-top .tooltip-arrow:before {
          border-top-color: var(--#{$prefix}teal);
      }

      &.tooltip-auto[data-popper-placement^=right] .tooltip-arrow:before,&.tooltip-end .tooltip-arrow:before {
          border-right-color: var(--#{$prefix}teal);
      }

      &.tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow:before,&.tooltip-bottom .tooltip-arrow:before {
          border-bottom-color: var(--#{$prefix}teal);
      }

      &.tooltip-auto[data-popper-placement^=left] .tooltip-arrow:before,&.tooltip-start .tooltip-arrow:before {
          border-left-color: var(--#{$prefix}teal);
      }
  }
  &.tooltip-cyan {
      .tooltip-inner {
          background-color: var(--#{$prefix}cyan);
          color: var(--#{$prefix}white);
      }
      &.tooltip-auto[data-popper-placement^=top] .tooltip-arrow:before,&.tooltip-top .tooltip-arrow:before {
          border-top-color: var(--#{$prefix}cyan);
      }

      &.tooltip-auto[data-popper-placement^=right] .tooltip-arrow:before,&.tooltip-end .tooltip-arrow:before {
          border-right-color: var(--#{$prefix}cyan);
      }

      &.tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow:before,&.tooltip-bottom .tooltip-arrow:before {
          border-bottom-color: var(--#{$prefix}cyan);
      }

      &.tooltip-auto[data-popper-placement^=left] .tooltip-arrow:before,&.tooltip-start .tooltip-arrow:before {
          border-left-color: var(--#{$prefix}cyan);
      }
  }
}

[dir="rtl"] {
    // Change the direction of the tooltip arrow
    .tooltip {
        &.tooltip-auto[data-popper-placement^=right] .tooltip-arrow,&.tooltip-end .tooltip-arrow {
            left: auto !important;
            right: 0 !important;
            transform: translate(0px, 15px) rotate(180deg) !important;
        }

        &.tooltip-auto[data-popper-placement^=left] .tooltip-arrow,&.tooltip-start .tooltip-arrow {
            left: 0 !important;
            right: auto !important;
            transform: translate(0px, 15px) rotate(180deg) !important;
        }
    }
}