/*!
  *  Project Name: Social Share
  *  Description: Social Share Component/Widget
  *  Author: Atas Nalar
  *  Version: 1.0
  *  License: GNU General Public License v3.0 or later
  *  License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/
// Import Utilities
@import 'functions';
// Import Variables
@import 'variables';
// Import Utilities & Mixins
@import 'maps';
@import 'utilities';
@import 'mixins';

:root {
	--social-share-border-radius: var(--#{$prefix}border-radius);
	--social-share-white: var(--#{$prefix}white);
	--social-share-black: var(--#{$prefix}dark);
	--social-share-text: var(--social-share-white);
	--social-share-border: var(--#{$prefix}border-color);
	--social-share-light: var(--#{$prefix}primary-100);
	--social-share-dark: var(--#{$prefix}primary);
	--social-share-rgb: var(--#{$prefix}primary-rgb);
	--social-share-success: var(--#{$prefix}teal);
	--social-share-trigger-bg: var(--#{$prefix}light-bg-subtle);
	--social-share-trigger-color: var(--social-share-black);
	--social-share-trigger-hover-bg: var(--social-share-light);
	--social-share-trigger-hover-color: var(--social-share-dark);
	--social-share-trigger-active-bg: var(--social-share-dark);
	--social-share-trigger-active-color: var(--social-share-text);
	--copy-color: var(--social-share-dark);
	--copy-bg: var(--social-share-light);
	--facebook-color: var(--social-share-dark);
	--facebook-bg: var(--social-share-light);
	--twitter-color: var(--social-share-dark);
	--twitter-bg: var(--social-share-light);
	--x-color: var(--social-share-dark);
	--x-bg: var(--social-share-light);
	--pinterest-color: var(--social-share-dark);
	--pinterest-bg: var(--social-share-light);
	--linkedin-color: var(--social-share-dark);
	--linkedin-bg: var(--social-share-light);
	--whatsapp-color: var(--social-share-dark);
	--whatsapp-bg: var(--social-share-light);
	--telegram-color: var(--social-share-dark);
	--telegram-bg: var(--social-share-light);
	--line-color: var(--social-share-dark);
	--line-bg: var(--social-share-light);
	--skype-color: var(--social-share-dark);
	--skype-bg: var(--social-share-light);
	--email-color: var(--social-share-dark);
	--email-bg: var(--social-share-light);
	--gmail-color: var(--social-share-dark);
	--gmail-bg: var(--social-share-light);
	--print-color: var(--social-share-dark);
	--print-bg: var(--social-share-light);
	--threads-color: var(--social-share-dark);
	--threads-bg: var(--social-share-light);
}

[data-share-theme='colorful'] {
	--facebook-color: #0050fc;
	--facebook-bg: #c2deff;
	--twitter-color: #1da1f2;
	--twitter-bg: #c2e8ff;
	--x-color: #141414;
	--x-bg: #f0f0f0;
	--pinterest-color: #bd081c;
	--pinterest-bg: #ffc2c2;
	--linkedin-color: #1c3477;
	--linkedin-bg: #afc8e2;
	--whatsapp-color: #009c39;
	--whatsapp-bg: #adf1ad;
	--telegram-color: #0088cc;
	--telegram-bg: #c2e8ff;
	--line-color: #00c300;
	--line-bg: #a1f3a1;
	--skype-color: #00aff0;
	--skype-bg: #c2f7ff;
	--email-color: #4c75a3;
	--email-bg: #e8eeff;
	--gmail-color: #d44638;
	--gmail-bg: #ffc2c2;
	--print-color: #35465c;
	--print-bg: #e0e0ef;
	--threads-color: #141414;
	--threads-bg: #f0f0f0;
}
.an-share:has([data-style='square']) #an-social-share-trigger {
	border-radius: 0 !important;
}
.an-share:has([data-style='circle']) #an-social-share-trigger {
	border-radius: 50rem !important;
}
.an-share[data-align='start'],
.an-share[data-align='start'] #an-social-share,
.an-share[data-align='start'] #an-social-share-trigger {
	display: flex;
	text-align: start;
	justify-content: flex-start;
}

.an-share[data-align='center'],
.an-share[data-align='center'] #an-social-share,
.an-share[data-align='center'] #an-social-share-trigger {
	display: flex;
	text-align: center;
	justify-content: center;
}

.an-share[data-align='end'],
.an-share[data-align='end'] #an-social-share,
.an-share[data-align='end'] #an-social-share-trigger {
	display: flex;
	text-align: end;
	justify-content: flex-end;
}

.an-share[data-align='justify'],
.an-share[data-align='justify'] #an-social-share-dropdown,
.an-share[data-align='justify'] .an-social-share-list {
	display: flex;
	width: 100%;
	flex-direction: row !important;
}

.an-share[data-align='justify'] .an-social-share-list li {
	flex-grow: 1;
}

.an-share[data-align='center'] .an-social-share-list {
	left: 50%;
	transform: translateX(-50%);
}

.an-share[data-align='end'] .an-social-share-list {
	left: auto;
	right: 0;
}

.an-share[data-align='justify'] .an-social-share-list[data-display='icon'] {
	width: 100% !important;
}

.an-share[data-align='justify'] .an-social-share-list[data-display='icon'] [class^='an-share-'] {
	max-width: 100% !important;
	width: 100%;
}

.an-share[data-align='justify'] .an-social-share-list .an-share-button {
	justify-content: center;
}

.an-share[data-align='justify'] .an-social-share-button {
	justify-content: center;
}
.an-share[data-align='justify'] .an-social-share-button,
.an-share[data-align='justify'] .inline-share {
	width: 100%;
}

.an-share[data-align='justify'] .inline-share button {
	max-width: 100% !important;
	flex-grow: 1;
	justify-content: center;
}

#an-social-share-trigger {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	padding: 0.375rem 0.75rem;
	outline: 0 !important;
	border: 0;
	border-radius: var(--social-share-border-radius);
	font-size: initial;
	background-color: var(--social-share-trigger-bg);
	color: var(--social-share-trigger-color);
	transition: all 0.2s ease;
}

#an-social-share-trigger:hover {
	background-color: var(--social-share-trigger-hover-bg);
	color: var(--social-share-trigger-hover-color);
}

#an-social-share-trigger.an-dropdown-active {
	background-color: var(--social-share-trigger-active-bg);
	color: var(--social-share-trigger-active-color);
}

#an-social-share-trigger::before {
	content: '';
	display: inline-block;
	line-height: 1;
	-webkit-mask-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: currentColor;"><path d="M3 12c0 1.654 1.346 3 3 3 .794 0 1.512-.315 2.049-.82l5.991 3.424c-.018.13-.04.26-.04.396 0 1.654 1.346 3 3 3s3-1.346 3-3-1.346-3-3-3c-.794 0-1.512.315-2.049.82L8.96 12.397c.018-.131.04-.261.04-.397s-.022-.266-.04-.397l5.991-3.423c.537.505 1.255.82 2.049.82 1.654 0 3-1.346 3-3s-1.346-3-3-3-3 1.346-3 3c0 .136.022.266.04.397L8.049 9.82A2.982 2.982 0 0 0 6 9c-1.654 0-3 1.346-3 3z"></path></svg>');
	mask-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: currentColor;"><path d="M3 12c0 1.654 1.346 3 3 3 .794 0 1.512-.315 2.049-.82l5.991 3.424c-.018.13-.04.26-.04.396 0 1.654 1.346 3 3 3s3-1.346 3-3-1.346-3-3-3c-.794 0-1.512.315-2.049.82L8.96 12.397c.018-.131.04-.261.04-.397s-.022-.266-.04-.397l5.991-3.423c.537.505 1.255.82 2.049.82 1.654 0 3-1.346 3-3s-1.346-3-3-3-3 1.346-3 3c0 .136.022.266.04.397L8.049 9.82A2.982 2.982 0 0 0 6 9c-1.654 0-3 1.346-3 3z"></path></svg>');
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	width: auto;
	height: auto;
	min-width: 16px;
	min-height: 16px;
	aspect-ratio: 1;
	background: currentColor;
}

.an-share:has(#an-social-share[data-size='small']) #an-social-share-trigger {
	font-size: 0.875rem !important;
}

.an-share:has(#an-social-share[data-size='small']) #an-social-share-trigger::before {
	min-width: 14px !important;
	min-height: 14px !important;
}

.an-share:has(#an-social-share[data-size='large']) #an-social-share-trigger {
	font-size: 1.25rem !important;
}

.an-share:has(#an-social-share[data-size='large']) #an-social-share-trigger::before {
	min-width: 20px !important;
	min-height: 20px !important;
}

.an-share:has(#an-social-share[data-size='small']) .an-social-share-modal-header .an-social-share-title {
	font-size: 1rem !important;
}

.an-share:has(#an-social-share[data-size='small']) .an-social-share-modal-header .an-social-share-title::before {
	min-width: 14px !important;
	min-height: 14px !important;
}

.an-share:has(#an-social-share[data-size='large']) .an-social-share-modal-header .an-social-share-title {
	font-size: 1.5rem !important;
}

.an-share:has(#an-social-share[data-size='large']) .an-social-share-modal-header .an-social-share-title::before {
	min-width: 20px !important;
	min-height: 20px !important;
}

div#an-social-share {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: row;
	gap: 0.5rem;
}

#an-social-share svg {
	width: 20px;
}

#an-social-share .an-social-share-title {
	display: flex;
	align-items: center;
	justify-content: inherit;
	gap: 0.25rem;
}

#an-social-share .an-social-share-title.has-icon-title::before {
	content: '';
	display: inline-block;
	-webkit-mask-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: currentColor; "><path d="M3 12c0 1.654 1.346 3 3 3 .794 0 1.512-.315 2.049-.82l5.991 3.424c-.018.13-.04.26-.04.396 0 1.654 1.346 3 3 3s3-1.346 3-3-1.346-3-3-3c-.794 0-1.512.315-2.049.82L8.96 12.397c.018-.131.04-.261.04-.397s-.022-.266-.04-.397l5.991-3.423c.537.505 1.255.82 2.049.82 1.654 0 3-1.346 3-3s-1.346-3-3-3-3 1.346-3 3c0 .136.022.266.04.397L8.049 9.82A2.982 2.982 0 0 0 6 9c-1.654 0-3 1.346-3 3z"></path></svg>');
	mask-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: currentColor; "><path d="M3 12c0 1.654 1.346 3 3 3 .794 0 1.512-.315 2.049-.82l5.991 3.424c-.018.13-.04.26-.04.396 0 1.654 1.346 3 3 3s3-1.346 3-3-1.346-3-3-3c-.794 0-1.512.315-2.049.82L8.96 12.397c.018-.131.04-.261.04-.397s-.022-.266-.04-.397l5.991-3.423c.537.505 1.255.82 2.049.82 1.654 0 3-1.346 3-3s-1.346-3-3-3-3 1.346-3 3c0 .136.022.266.04.397L8.049 9.82A2.982 2.982 0 0 0 6 9c-1.654 0-3 1.346-3 3z"></path></svg>');
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	line-height: 1;
	min-width: 16px;
	min-height: 16px;
	aspect-ratio: 1;
	background: currentColor;
}

#an-social-share[data-style='square'] [class^='an-share-'] {
	border-radius: 0 !important;
}

#an-social-share[data-style='circle'] [class^='an-share-'] {
	border-radius: 50rem !important;
}

#an-social-share[data-display='text'] svg:not(.share-icon) {
	display: none !important;
}

#an-social-share[data-display='icon'] [class^='an-share-']::after {
	content: '' !important;
	margin-left: 0 !important;
}

#an-social-share[data-display='icon'] [class^='an-share-'] {
	display: inline-flex !important;
	justify-content: center;
	max-width: 3rem;
}

#an-social-share [class^='an-share-'] {
	color: var(--social-share-dark);
	display: flex;
	align-items: center;
	text-decoration: none;
	min-width: 2.5rem;
	min-height: 2.5rem;
	padding: 0 0.75rem;
	background-color: var(--social-share-light);
	transition: transform 0.3s ease;
	border-radius: var(--social-share-border-radius);
	border: 0;
	outline: 0 !important;
	transition: all 0.2s ease;
}

#an-social-share [class^='an-share-']::after {
	content: attr(aria-label);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 0.25rem;
}

#an-social-share [class^='an-share-']:hover,
#an-social-share [class^='an-share-']:focus {
	color: var(--social-share-text);
	fill: var(--social-share-text);
	background-color: var(--social-share-dark);
}

#an-social-share [class^='an-share-']:focus-visible {
	outline: 2px solid var(--social-share-dark);
}

#an-social-share [class^='an-share-'][data-type='facebook'] {
	color: var(--facebook-color);
	background-color: var(--facebook-bg);
	fill: var(--facebook-color);
}

#an-social-share [class^='an-share-'][data-type='facebook']:hover,
#an-social-share [class^='an-share-'][data-type='facebook']:focus {
	color: var(--social-share-text);
	fill: var(--social-share-text);
	background-color: var(--facebook-color);
}

#an-social-share [class^='an-share-'][data-type='twitter'] {
	color: var(--twitter-color);
	background-color: var(--twitter-bg);
	fill: var(--twitter-color);
}

#an-social-share [class^='an-share-'][data-type='twitter']:hover,
#an-social-share [class^='an-share-'][data-type='twitter']:focus {
	color: var(--social-share-text);
	fill: var(--social-share-text);
	background-color: var(--twitter-color);
}

#an-social-share [class^='an-share-'][data-type='x'] {
	color: var(--x-color);
	background-color: var(--x-bg);
	fill: var(--x-color);
}

#an-social-share [class^='an-share-'][data-type='x']:hover,
#an-social-share [class^='an-share-'][data-type='x']:focus {
	color: var(--social-share-text);
	fill: var(--social-share-text);
	background-color: var(--x-color);
}

#an-social-share [class^='an-share-'][data-type='pinterest'] {
	color: var(--pinterest-color);
	background-color: var(--pinterest-bg);
	fill: var(--pinterest-color);
}

#an-social-share [class^='an-share-'][data-type='pinterest']:hover,
#an-social-share [class^='an-share-'][data-type='pinterest']:focus {
	color: var(--social-share-text);
	fill: var(--social-share-text);
	background-color: var(--pinterest-color);
}

#an-social-share [class^='an-share-'][data-type='linkedin'] {
	color: var(--linkedin-color);
	background-color: var(--linkedin-bg);
	fill: var(--linkedin-color);
}

#an-social-share [class^='an-share-'][data-type='linkedin']:hover,
#an-social-share [class^='an-share-'][data-type='linkedin']:focus {
	color: var(--social-share-text);
	fill: var(--social-share-text);
	background-color: var(--linkedin-color);
}

#an-social-share [class^='an-share-'][data-type='whatsapp'] {
	color: var(--whatsapp-color);
	background-color: var(--whatsapp-bg);
	fill: var(--whatsapp-color);
}

#an-social-share [class^='an-share-'][data-type='whatsapp']:hover,
#an-social-share [class^='an-share-'][data-type='whatsapp']:focus {
	color: var(--social-share-text);
	fill: var(--social-share-text);
	background-color: var(--whatsapp-color);
}

#an-social-share [class^='an-share-'][data-type='telegram'] {
	color: var(--telegram-color);
	background-color: var(--telegram-bg);
	fill: var(--telegram-color);
}

#an-social-share [class^='an-share-'][data-type='telegram']:hover,
#an-social-share [class^='an-share-'][data-type='telegram']:focus {
	color: var(--social-share-text);
	fill: var(--social-share-text);
	background-color: var(--telegram-color);
}

#an-social-share [class^='an-share-'][data-type='line'] path {
	width: 100%;
	height: 100%;
}

#an-social-share [class^='an-share-'][data-type='line'] {
	color: var(--line-color);
	background-color: var(--line-bg);
	fill: var(--line-color);
}

#an-social-share [class^='an-share-'][data-type='line']:hover,
#an-social-share [class^='an-share-'][data-type='line']:focus {
	color: var(--social-share-text);
	fill: var(--social-share-text);
	background-color: var(--line-color);
}

#an-social-share [class^='an-share-'][data-type='skype'] {
	color: var(--skype-color);
	background-color: var(--skype-bg);
	fill: var(--skype-color);
}

#an-social-share [class^='an-share-'][data-type='skype']:hover,
#an-social-share [class^='an-share-'][data-type='skype']:focus {
	color: var(--social-share-text);
	fill: var(--social-share-text);
	background-color: var(--skype-color);
}

#an-social-share [class^='an-share-'][data-type='email'] {
	color: var(--email-color);
	background-color: var(--email-bg);
	fill: var(--email-color);
}

#an-social-share [class^='an-share-'][data-type='email']:hover,
#an-social-share [class^='an-share-'][data-type='email']:focus {
	color: var(--social-share-text);
	fill: var(--social-share-text);
	background-color: var(--email-color);
}

#an-social-share [class^='an-share-'][data-type='gmail'] {
	color: var(--gmail-color);
	background-color: var(--gmail-bg);
	fill: var(--gmail-color);
}

#an-social-share [class^='an-share-'][data-type='gmail']:hover,
#an-social-share [class^='an-share-'][data-type='gmail']:focus {
	color: var(--social-share-text);
	fill: var(--social-share-text);
	background-color: var(--gmail-color);
}

#an-social-share [class^='an-share-'][data-type='print'] {
	color: var(--print-color);
	background-color: var(--print-bg);
	fill: var(--print-color);
}

#an-social-share [class^='an-share-'][data-type='print']:hover,
#an-social-share [class^='an-share-'][data-type='print']:focus {
	color: var(--social-share-text);
	fill: var(--social-share-text);
	background-color: var(--print-color);
}

#an-social-share [class^='an-share-'][data-type='threads'] {
	color: var(--threads-color);
	background-color: var(--threads-bg);
	fill: var(--threads-color);
}

#an-social-share [class^='an-share-'][data-type='threads']:hover,
#an-social-share [class^='an-share-'][data-type='threads']:focus {
	color: var(--social-share-text);
	fill: var(--social-share-text);
	background-color: var(--threads-color);
}

#an-social-share [class^='an-share-'][data-type='copy'] {
	color: var(--copy-color);
	background-color: var(--copy-bg);
	fill: var(--copy-color);
}

#an-social-share [class^='an-share-'][data-type='copy']:hover,
#an-social-share [class^='an-share-'][data-type='copy']:focus {
	color: var(--social-share-text);
	fill: var(--social-share-text);
	background-color: var(--copy-color);
}

[data-theme='dark'] #an-social-share:not([data-share-theme='colorful']) [class^='an-share-'] {
	color: var(--social-share-light);
	fill: var(--social-share-light);
	background-color: rgba(var(--social-share-rgb), 0.2);
}

[data-theme='dark'] #an-social-share:not([data-share-theme='colorful']) [class^='an-share-']:hover {
	color: var(--social-share-text);
	fill: var(--social-share-text);
	background-color: var(--social-share-dark);
}

#an-social-share[data-icon-background='false'][data-display='icon'] [class^='an-share-'] {
	--social-share-text: var(--body-color) !important;
	background-color: transparent !important;
	min-width: -moz-fit-content;
	min-width: fit-content;
	min-height: -moz-fit-content;
	min-height: fit-content;
	padding: 0 0.375rem;
}

#an-social-share[data-icon-background='false'][data-display='icon'] [class^='an-share-']:hover {
	color: var(--social-share-dark) !important;
}

[data-theme='dark'] #an-social-share[data-icon-background='false'][data-display='icon'] [class^='an-share-']:hover {
	color: var(--social-share-light) !important;
}

/* Type Dropdown */
#an-social-share-dropdown {
	position: relative;
	display: inline-block;
}

#an-social-share-dropdown ul#an-social-share {
	display: none;
	list-style: none;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.75rem;
	border-color: var(--social-share-border);
	background: var(--social-share-white);
	border-radius: var(--social-share-border-radius);
	margin-top: 0.5rem !important;
	box-shadow: 0 0.5rem 1rem rgba(var(--social-share-rgb), 0.16);
}

#an-social-share-dropdown ul#an-social-share.an-dropdown-show {
	display: flex;
	position: absolute;
	z-index: 5000;
	/* max-width: 210px; */
}

#an-social-share-dropdown ul#an-social-share:not([data-display='icon']).an-dropdown-show [class^='an-share-'] {
	width: 100%;
}

#an-social-share-dropdown ul#an-social-share[data-display='icon'] {
	flex-direction: row;
	width: max-content;
}

#an-social-share-dropdown ul#an-social-share[data-display='icon'][data-icon-background='false'] {
	align-items: center;
}

#an-social-share-dropdown ul#an-social-share[data-display='icon'][data-icon-background='false'] li {
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.an-dropdown-left.an-dropdown-show {
	left: auto;
	right: 0;
}

.an-dropdown-right.an-dropdown-show {
	left: 0;
	right: auto;
}

.an-dropdown-top.an-dropdown-show {
	top: auto;
	bottom: 100%;
}

.an-dropdown-bottom.an-dropdown-show {
	top: 100%;
	bottom: auto;
}

[data-theme='dark'] #an-social-share-dropdown ul#an-social-share {
	background-color: var(--social-share-black);
	border: 1px solid rgba(var(--social-share-rgb), 0.7);
}

/* Type Modal */
.an-modal-open {
	overflow: hidden !important;
}

#an-social-share-modal {
	display: none;
}

#an-social-share-modal.an-modal-show {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	padding: 1rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5000;
	background: rgba(var(--social-share-rgb), 0.1);
	box-shadow: 0 4px 30px rgba(var(--social-share-rgb), 0.1);
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
}

#an-social-share-modal.an-modal-show::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--social-share-black);
	opacity: 0.5;
	cursor: zoom-out;
}

#an-social-share-modal.an-modal-show .an-social-share-modal-content {
	position: relative;
	width: 300px;
	max-width: 90vw;
	padding: 1rem;
	background: var(--social-share-white);
	border-radius: var(--social-share-border-radius);
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

#an-social-share-modal.an-modal-show .an-social-share-modal-content .an-social-share-modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#an-social-share-modal.an-modal-show .an-social-share-modal-content .an-social-share-modal-header .an-social-share-title {
	font-size: 1.25rem;
	font-weight: 600;
	margin: 0;
	max-width: 90%;
}

#an-social-share-modal.an-modal-show .an-social-share-modal-content .an-social-share-modal-header .an-social-share-title.has-icon-title::before {
	content: '';
	display: inline-block;
	line-height: 1;
	-webkit-mask-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: currentColor;"><path d="M3 12c0 1.654 1.346 3 3 3 .794 0 1.512-.315 2.049-.82l5.991 3.424c-.018.13-.04.26-.04.396 0 1.654 1.346 3 3 3s3-1.346 3-3-1.346-3-3-3c-.794 0-1.512.315-2.049.82L8.96 12.397c.018-.131.04-.261.04-.397s-.022-.266-.04-.397l5.991-3.423c.537.505 1.255.82 2.049.82 1.654 0 3-1.346 3-3s-1.346-3-3-3-3 1.346-3 3c0 .136.022.266.04.397L8.049 9.82A2.982 2.982 0 0 0 6 9c-1.654 0-3 1.346-3 3z"></path></svg>');
	mask-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: currentColor;"><path d="M3 12c0 1.654 1.346 3 3 3 .794 0 1.512-.315 2.049-.82l5.991 3.424c-.018.13-.04.26-.04.396 0 1.654 1.346 3 3 3s3-1.346 3-3-1.346-3-3-3c-.794 0-1.512.315-2.049.82L8.96 12.397c.018-.131.04-.261.04-.397s-.022-.266-.04-.397l5.991-3.423c.537.505 1.255.82 2.049.82 1.654 0 3-1.346 3-3s-1.346-3-3-3-3 1.346-3 3c0 .136.022.266.04.397L8.049 9.82A2.982 2.982 0 0 0 6 9c-1.654 0-3 1.346-3 3z"></path></svg>');
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	width: auto;
	height: auto;
	min-width: 16px;
	min-height: 16px;
	aspect-ratio: 1;
	background: currentColor;
}

#an-social-share-modal.an-modal-show .an-social-share-modal-content .an-social-share-modal-header .an-social-share-close {
	all: unset;
	cursor: pointer;
}

#an-social-share-modal.an-modal-show .an-social-share-modal-content .an-social-share-modal-header .an-social-share-close::before {
	content: '';
	-webkit-mask-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>');
	mask-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>');
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	background: currentColor;
	opacity: 0.85;
	transition: transform 0.2s linear;
}

#an-social-share-modal.an-modal-show .an-social-share-modal-content .an-social-share-modal-header .an-social-share-close:hover::before {
	opacity: 1;
	transform: rotate(180deg);
}

#an-social-share-modal.an-modal-show .an-social-share-modal-content .an-social-share-modal-body {
	position: relative;
}

#an-social-share-modal #an-social-share:not([data-display='icon']) [class^='an-share-'] {
	width: 100%;
}

#an-social-share-modal #an-social-share[data-display='icon'] {
	align-items: center;
	justify-content: center;
}

#an-social-share-modal #an-social-share[data-display='icon'] [class^='an-share-'] {
	min-width: 2.5rem;
	min-height: 2.5rem;
	justify-content: center;
	font-size: 1.25rem;
}

#an-social-share-modal #an-social-share:not([data-display='icon']) {
	flex-direction: column;
	align-items: flex-start;
}

[data-theme='dark'] #an-social-share-modal.an-modal-show .an-social-share-modal-content {
	background: var(--social-share-black);
	box-shadow: 0 4px 30px rgba(var(--social-share-rgb), 0.1);
}

/* @media (prefers-color-scheme: dark) {
    #an-social-share a {
        color: var(--social-share-light);
        fill: var(--social-share-light);
        background-color: rgba(var(--social-share-rgb), 0.2);
    }
        ul#an-social-share.show {
        background-color: var(--social-share-black);
        border: 1px solid rgba(var(--social-share-rgb), 0.7);
    }
} */
/* Media Breakpoints */
@media only screen and (max-width: 576px) {
	div#an-social-share:not([data-display='icon']) {
		flex-direction: column;
		align-items: flex-start;
	}
	div#an-social-share:not([data-display='icon']) [class^='an-share-'] {
		width: 100%;
	}
	div#an-social-share[data-display='icon'] .an-social-share-title {
		width: 100%;
	}
	ul#an-social-share[data-display='icon'] {
		flex-direction: column;
	}
}
/* Alert Copied */
.an-share-alert-copied {
	background-color: var(--social-share-success);
	border: 1px solid var(--social-share-success);
	color: var(--social-share-text);
	fill: var(--social-share-text);
	padding: 1rem 1.5rem;
	text-align: center;
	width: -moz-fit-content;
	width: fit-content;
	position: fixed;
	top: 1.25rem;
	right: 50%;
	transform: translateX(50%);
	border-radius: var(--social-share-border-radius);
	z-index: 99999;
	display: flex;
	align-items: flex-start;
	gap: 0.25rem;
}

@media only screen and (max-width: 767.98px) {
	.an-share-alert-copied {
		width: 90%;
		right: 50%;
		transform: translateX(50%);
	}
}
/* Size */
#an-social-share[data-size='small']:not([data-icon-background='false']) [class^='an-share-'] {
	min-width: 2.25em !important;
	min-height: 2.25em !important;
}

#an-social-share[data-size='small'] [class^='an-share-'] {
	font-size: 0.9em !important;
	min-width: 2.25em !important;
	min-height: 2.25em !important;
	padding: 0.25em 0.5em !important;
}

#an-social-share[data-size='small'] [class^='an-share-'] svg {
	width: 16px;
}

#an-social-share[data-size='large'] [class^='an-share-'] {
	font-size: 1.15em !important;
	min-width: 2.75em !important;
	min-height: 2.75em !important;
	padding: 0.25em 0.5em !important;
}

#an-social-share[data-size='large'] [class^='an-share-'] svg {
	width: 24px;
}
