.has-icon {
    position: relative;
    .form-control,
    .form-select {
        padding-left: $spacer * 2.375;
    }
    .emoji-control {
        padding-right: $spacer * 2.375;
    }
    .icon-control {
        position: absolute;
        z-index: 2;
        display: block;
        text-align: center;
        width: $spacer * 2.375;
        height: $spacer * 2.375;
        line-height: $spacer * 2.375;
        font-size: $font-size-base * 1.15;
        color: var(--#{$prefix}border-color);
    }
    .icon-emoji {
        position: absolute;
        z-index: 2;
        display: block;
        text-align: center;
        width: $spacer * 2.375;
        height: $spacer * 2.375;
        line-height: $spacer * 2.375;
        font-size: $font-size-base * 1.15;
        color: var(--#{$prefix}border-color);
        right: 0;
        cursor: pointer;
    }
    .toggle-password {
        position: absolute;
        z-index: 2;
        display: block;
        text-align: center;
        width: $spacer * 2.375;
        height: $spacer * 2.375;
        line-height: $spacer * 2.375;
        font-size: $font-size-base * 1.15;
        color: var(--#{$prefix}border-color);
        right: 0;
        cursor: pointer;
        transition: color .3s ease;
        &:hover, &:not(.pass-closed) {
            color: currentColor !important;
        }
    }
    &:has(.form-control-lg) {
        .form-control,
        .form-select {
            padding-left:  $spacer * 2.75;
        }
        .emoji-control {
            padding-right: $spacer * 2.75;
        }
        .icon-control, .icon-emoji, .toggle-password {
            font-size: $font-size-base * 1.5;
            width: $spacer * 3;
            height: $spacer * 3;
            line-height: $spacer * 3;
        }
    }
    &:has(.form-control-sm) {
        .form-control,
        .form-select {
            padding-left:  $spacer * 2;
        }
        .emoji-control {
            padding-right: $spacer * 2;
        }
        .icon-control, .icon-emoji, .toggle-password {
            font-size: $font-size-base;
            width: $spacer * 2.25;
            height: $spacer * 1.95;
            line-height: $spacer * 1.95;
        }
    }
}

